#bbsForm {
    padding: 20px;
    background-color: $white;
    border-radius: 1rem;
    box-shadow: 0 0 5px $secondary-color;
}
#bbsForm input {
    height: 2rem;
    width: 50%;
    @include mobile {
        width: 80%;
    }
}
#bbsForm select {
    height: 2.5rem;
    width: 100%;
}

.bbsForm-header {
    font-family: $displayMedium;
    color: $red;
}
.beamSchedule {
    @include mobile {
        padding-right: 0;
        padding-left: 0;
    }
}