/* body */
/* body {
  background-image: url(../images/backgrounds/pattern.png);
} */



.logo {
  width: 60px;
  height: auto;
  @include mobile {
    width: 40px;
  }
}


/* blog */
.block {
  padding: 60px 60px 40px;
}

.author-thumb{
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/* pagination */
.pagination {
  justify-content: center;

  .page-item {
    margin: 0 2px;
    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      color: $text-color;
      border: 0;
      border-radius: 5px;

      &:hover {
        background: $primary-color;
        color: $white;
      }
    }

    &.active {
      .page-link {
        background: $primary-color;
        color: $white;
      }
    }
  }
}
.post-title:hover{
  text-decoration: underline;
}
.post-meta{
  color: #999;
  a{
    color: inherit;
    &:hover{
      color: $primary-color;
    }
  }
}


.content {
  * {
    margin-bottom: 20px;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 20px;
  }

  ul {
    padding-left: 0;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 15px;
      list-style-type: none;

      &::before {
        position: absolute;
        content: "\e71b";
        font-family: $icon-font;
        font-size: 14px;
        left: 0;
        top: 1px;
        color: $primary-color;
        transition: .3s ease;
      }
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;

    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: $white, $amount: 2);
    }

    tbody {
      background: $white;

      td {
        text-align: left !important;
      }
    }
  }


  blockquote {
    padding: 20px;
    background: $white;
    border-left: 3px solid $primary-color;

    p {
      margin-bottom: 0;
      color: $text-color-dark;
      font-style: italic !important;
    }
  }


  pre {
    padding: 10px 20px;
    background: $white;

    code {
      border: 0;
      background: transparent;
      padding: 0;
    }
  }

  a {
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    padding: 3px 5px;
    background: $white;
    border: 1px solid $border-color;
    border-radius: 3px;
    color: $text-color-dark;
  }

}

/* social icon */
.social-icon{
  a{
    height: 45px;
    width: 45px;
    border: 1px solid $primary-color;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    display: block;
    color: $primary-color;
    &:hover{
      background: $primary-color;
      color: $white;
      text-decoration: none;
    }
  }
}


/* nav tab */
// .nav-tab{
//   .nav-link{
//     padding: 15px;
//     color: $text-color;
//     border-radius: 5px;
//     border-bottom: 2px solid $red;
//     &.active{
//       @extend .shadow;
//       color: $white;
//       background: $primary-color;
//     }
//   }
// }


.call-to-action {
  height: 50vh;
}
.cta-text {
  display: grid;
  align-items: center;
  @include mobile {
    margin: 0;
  }
}
.cta-text-real {
margin-bottom: 20px;  
font-family: $primary-font;
font-weight: 800;
font-size: 2rem;
line-height: 2rem;
color: $darker-blue;
@include mobile {
  font-family: $primary-font;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}
}
.cta-text-div {
  width: 100%;
  text-align: left;
}
#word {
  font-family: $displayMedium;
  color: $primary-color;
  @include mobile {
    font-family: $displayRoman;
  }
}
.blink {
  animation: blink 0.75s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}

.outline-button {
  font-family: $displayRoman;
  font-size: 1.25rem;
  display: inline-block;
  padding: 5px 20px;
  color: $darker-blue;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid $red;
  transition: background-color 0.3s ease;
  border-radius: 0.25rem;
  @include mobile {
    font-family: $displayRoman;
    padding: 5px 20px !important;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.outline-button:hover{
text-decoration: none;
padding: 5px 20px;
color: $darker-blue;
background-color: $secondary-color !important;
border: none;
}
.main-button {
  font-family: $displayRoman;
  font-size: 1.25rem;
  display: inline-block;
  padding: 9px 24px;
  color: $white !important;
  background-color: $primary-color;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 0.25rem;
  @include mobile {
    font-family: $displayRoman;
    padding: 9px 24px !important;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.main-button:hover{
text-decoration: none;
background-color: $darker-blue !important;
color: $white !important;
}
.cta-image {
  align-items: center;
  display: grid;
  align-items: center;
  @include mobile {
    margin-top: -50px;
  }
}
.cta-image-div {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  @include mobile {
    padding: 0;
  }
}