.navigation {
  transition: .3s ease;
  &.fixed-top{
    @include desktop {
      position: sticky !important;
    }
  }
  @include desktop {
    background: $white;
  }
}

.nav-bg {
  background-color: $white;
  box-shadow: 0px 0px 5px rgb(201, 200, 200);
}

.nav-item{
  margin: 0;

  .nav-link{
    text-transform: capitalize;
    margin-left: 25px;
  }
}

.navbar-light .navbar-nav .nav-link {
  &:hover{
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav {
  padding: 20px;
  @include mobile {
    padding: 10px;
  }
}

.nav-link-items {
  color: $darker-blue !important;
  padding: 5px 20px;
  font-family: $displayRoman;
  font-size: 1.25rem;
  border-bottom: 2px solid $red;
  @include mobile{
    padding: 2.5px 10px;
    font-size: 1rem;
    border-bottom: 0;
  }
}
.navbar-toggler {
  color: $primary-color !important;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile {
    width: 55%;
  }
}


.logo-name {
  font-family: $displayMedium;
  font-size: 1.5rem;
  color: $darker-blue;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  @include mobile {
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.03rem;
  }
}
.logo-name-sub {
  font-family: $primary-font;
  font-size: 1rem;
  color: $text-color;
  line-height: 1rem;
  @include mobile {
    font-size: 0.9rem;
    line-height: 0.9rem;
    letter-spacing: 0.03rem;
  }
}
.logo-image {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.logo-text {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.logo-text p {
  margin: 0; /* Remove default margin of the paragraph */
}


