
.soon {
    background: url("../images/bg/banner-2.png")no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    font-family: $primary-font;
}