<!-- Contact Start -->
<section class="section home-contact" id="contact">
	<div class="contact-back">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mx-auto">
					<div class="col-12 text-center">
                        <span class="h5 text-color text-uppercase">
                            Contact
                        </span>
                    </div>
					<h3 class="mb-5 mt-2 text-center">Let’s Create <br>Something Big</h3>
	
					<form action="{{site.contact_form_action}}" method="POST" class="home-contact-form">
						<div class="form-row">
							<div class="col-lg-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="First Name" name="first_name">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Last Name" name="last_name">
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-lg-6">
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Email Address" name="email">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Phone Number" name="phone">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 text-center">
								<textarea name="msg" id="msg" cols="30" rows="4" class="form-control mb-4" placeholder="Message"></textarea>
								<button type="submit" class="outline-button">Send</button>
							</div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
	
</section>
<!-- Contact End -->