{{ "<!-- navigation -->" | safeHTML }}
<header class="fixed-top navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <div class="row logo-section">
        <div class="col-3 logo-image">
          <a class="navbar-brand" href="/"><img class="img-fluid logo" src="{{ site.data.parameters.logo | relative_url }}" alt="{{ site.title }}"></a>
        </div>
        <div class="col-9 logo-text">
          <a href="/" class="logo-name">Onyango Okello</a>
          <p class="logo-name-sub">IT Consultancy</p>
        </div>
      </div>
      
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu h3"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          {% for main in site.data.parameters.menu.main %}
            {% if main.submenu %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{main.name}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for children in main.submenu %}
                <a class="dropdown-item" href="{{children.url}}">{{children.name}}</a>
                {% endfor %}
              </div>
            </li>
            {% else %}
              {% if main.name == "Get in Touch" %}
              <li class="nav-item">
                  <a class=" nav-link main-button" href="{{ main.url | relative_url }}">{{ main.name }}</a>
              </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link nav-link-items" href="{{ main.url | relative_url }}">{{ main.name }}</a>
                  </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}